a {
    color:white;
}
.login-links a {
    color:blue;
}
#headline-0 {
    text-decoration: none;
    color:black;
}
#headline-1 {
    font-size: 5em;
    text-align: center;
}
#contactform {
    display: block;
}
a h3 {
    display: inline-block;
}
